.navbar-text{
  align-items: end;
  padding-left:900px
}
#nav-item{
  margin-right: 10px;
  margin-left:50px;
}
.nav-item{
margin: 10px 20px 5px 10px;
} 
.icon-1{
  margin:10px 30px 10px 20px;
  transform:scale(1.6);
}
.flexbox{
  background-color: rgb(190, 190, 190);
   margin:1px 10px 0px 10px;
}
h3{
  margin-left:500px;
}
.slid{
width:1450px;
height:300px;
filter:contrast(140%) brightness(120%) opacity(80%);
}
a{
  color: inherit; /* or set to the desired color */
  text-decoration: none;  
}
.cont-1{
  display:flex;
  justify-content:space-around; /* Adjust as needed */
      align-items: center;
  margin:20px 200px 20px 200px;
}
.headingg{
  text-align:center;
  
}
.card{
  margin:20px 20px 20px 20px;
  border-radius:20px;
  width: 18rem;
  margin: 10px;
}
.card-img-top{
  margin-top:10px;
  height:205px;
  border-radius:30px;
}

.cards{
  margin:20px 20px 20px 20px;
  display:flex;
  justify-content:center;
  align-items:center;
}
.hh2{
  font-weight:500;
}
.center-line {
  border: none;
  border-top: 1px solid #000000;
  width: 100%;
  margin-top: 20px; /* Adjust as needed */
  margin-bottom: 20px; /* Adjust as needed */
}